.search__section {
  background-color: black;
  height: 80px;
  width: 100vw;
}
.overlay {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: column;
  /* justify-content: space-evenly; */
  /* grid-gap: 1rem; */
  margin: 0 auto;
  background-color: #f7f7f7;
  border-radius: 99px;
  padding: 1rem;
}
.search__icon {
display: flex;
align-items: center;
justify-content: center;
background-color:#ff385c;
border-radius: 99px;
width: 69px;
height: 50px;

}
.search__icon button {
  background-color: transparent;
  border: none;
}
/* 
.search__icon span{
    font-size: 12px
} */
.label,
input,
.guestNumber {
  background: none;
  font-size: 14px;
  border: none;
  line-height: 1.5;
  display: block;
  color: black;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 600px) {
  .search__section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .overlay {
    margin-top: 3rem;
    padding-top: 50px;
    width: 100vw;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2,80px);
    grid-template-rows:   repeat(2, 50px); 
    border-radius: 0;
    grid-auto-flow: row;


    
    
  }

}
